body {
  font-family: sans-serif;
}
#inputs {
  min-width: 250px;
  max-width: 400px;
}
#inputs input {
  padding: 10px 20px;
}
hr {
  margin: 30px 0;
}
h3 + hr {
  margin-top: -5px;
}
hr + h3 {
  margin-top: -15px;
}

h3 {
  color: #3d306a;
  font-size: 25px;
}

.controls {
  float: center;
  line-height: 35px;
  margin-top: 30px;
}
.controls .select,
.controls .save,
.controls a {
  border: none;
  background: #3781f2;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 13px;
  padding: 7px 15px;
  text-decoration: none;
}
.controls a {
  background: green;
  display: none;
}
h4 {
  text-decoration: underline;
}

.center {
  position: static;
  display: contents;
  height: auto;
  width: auto;
  left: 50%;
  top: 50%;
  margin-top: 20px;
  margin-left: 150px;
  background-color: none;
}

.logo {
  position: static;
  display: inline;
  height: auto;
  width: auto;
  left: 50%;
  top: 50%;
  margin-top: 20px;
  margin-left: 150px;
  background-color: none;
}
