body {
  font-family: sans-serif;
}
#inputs {
  min-width: 250px;
  max-width: 400px;
}
#inputs input {
  padding: 10px 20px;
}
hr {
  margin: 30px 0;
}
h3 + hr {
  margin-top: -5px;
}
hr + h3 {
  margin-top: -15px;
}

h3 {
  color: #3d306a;
  font-size: 25px;
  text-align: center;
}
h1 {
  color: #3d306a;
  font-size: 40px;
  text-align: center;
}

.controls {
  float: center;
  line-height: 35px;
  margin-top: 30px;
}
.controls .select,
.controls .save,
.controls a {
  border: none;
  background: #ff5b5b;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 13px;
  padding: 7px 15px;
  text-decoration: none;
}
.controls a {
  background: green;
  display: none;
}

h4 {
  text-decoration: underline;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.logo {
  position: static;
  display: inline;
  height: auto;
  width: auto;
  left: 50%;
  top: 50%;
  margin-top: 20px;
  margin-left: 150px;
  background-color: none;
  text-align: center;
}

.crop {
  height: 200px;
  overflow: hidden;
  margin-bottom: -100px;
  object-fit: cover;
  object-position: 30% 40%;
  vertical-align: middle;
}

.center2 {
  display: block;
  margin-left: auto;

  width: 100%;
}

div.parent {
  text-align: center;
  left: 50%;
}
ol {
  display: inline-block;
  text-align: left;
}

table.center3 {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.hidden {
  display: none;
}
